@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Lato:ital,wght@1,100&family=Poppins:wght@300;400&family=Public+Sans:wght@300;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.ul {
  display: flex;
  list-style: none;
}
/* top bottom -- right left */

li {
  margin: 0 1rem;
  color: grey;
  cursor: pointer;
}

button {
  background: linear-gradient(90deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 14px;
  color: white;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
}
.logo {
  font-weight: bold;
}

.main {
  display: flex;
  margin-top: 30px;
}

.right,
.left {
  width: 50%;
}

.left h1 {
  font-size: 3em;
  padding-right: 40px;
  line-height: 1.4em;
  font-weight: 500;
  margin: 0;
}

.left p {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 200;
  color: gray;
  padding-right: 40px;
}

.right img {
  margin-left: 60px;
}

.why {
  margin-top: 0;
  background-color: #f3f4f6;
  height: 250px;
}

.why h1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}

.feature {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

h2 {
  font-weight: 500;
  color: #242634;
  margin: 0;
}

.ab {
  font-weight: lighter;
  font-size: 12px;
}

input,
textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid;
}

.form-page {
  width: 700px;
  margin: auto;
}

.submit {
  background: linear-gradient(90deg, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 14px;
  color: white;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  max-width: 50px;
}
